.mep-svg {
  background: transparent;
  width: 100%;
  height: auto;
  display: block;
  color: #000000;
}

.mep-grid {
  background-image: 
  linear-gradient(#ddd 1px, transparent 1px),
  linear-gradient(90deg, #ddd 1px, transparent 1px);
  background-size: 20px 20px;
}